<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>工作流系统</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">工作流系统</h1>

    <a class="btn btn-primary mt-3 mb-3" href="/workflows/create">创建新工作流</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workflow : ${workflows}">
            <td th:text="${workflow.id}"></td>
            <td th:text="${workflow.name}"></td>
            <td th:text="${workflow.status}"></td>
            <td>
                <a th:href="@{/workflows/{id}(id=${workflow.id})}" class="btn btn-info btn-sm">查看详情</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
